* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'roboto', sans-serif;
   

}

.difficulty {
    /* padding: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
     */
     
    max-width: 70%;
    margin: 100px auto 0;
    border-radius: 10px;
    padding: 30px;
    margin-top: 5em;
    border-color: black;
}


/* Green Section */
.difficulty.green {
    background-color: #72efe9;
    color: #111111;
}

/* Yellow Section */
.difficulty.yellow {
    background-color: #ffe066;
    color: #111111;
}

/* Red Section */
.difficulty.red {
    background-color: #ff6961;
    color: #111111;
}
 
/* Green hover */
.difficulty.green:hover {
    background-color: #57bbb6;
    color: #111111;
}

/* Yellow hover */
.difficulty.yellow:hover {
    background-color: #af9a45;
    color: #111111;
}

/* Red hover */
.difficulty.red:hover {
    background-color: #9c413c;
    color: #111111;
}

/* Footer */
#social-networks {
    text-align: center;
    padding: 20px 0;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
}

#social-networks i {
    font-size: 160%;
    padding: 5%;
    color: #3a3a3a;
}

/* Add hover effect to change background color to grey */
.answer:hover {
    background-color: #8d8d8d;
}

.app{
    background-color: grey;
    width: 50%;
    max-width: 600px;
    margin: 100px auto 0;
    border-radius: 10px;
    padding: 30px;
    margin-top: -2em;
    border-color: black;
    align-items: center;
    
}
.quiz
{ padding: 20px 0;}

.btn {
    background: white;
    color: black;
    font-weight: 500;
    width: 100%;
    border: 1px solid black;
    padding: 10px;
    margin: 10px 0;
    text-align: left;
    border-radius: 4px;
    cursor: pointer;
}
.quiz h2 {
    font-size: 18px;
    color: black;
    font-weight: 600;
}

.app h1 {
    font-size: 25px;
    color: black;
    font-weight: 600;
    border-bottom: 1px solid black;
    padding-bottom: 30px;
    text-align: center;
    }
   
   quiz-score {
    text-align: right;
    font-weight: 600;
    font-size: 1.2rem;
    border: 5px solid;
    font-weight: bold;
    width: 100px;
    height:50px;
    
   }

   @media (max-width: 767px) {
    .container {
        width: 100%; 
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }
    .difficulty {
        width: 100%;
        padding: 0;
        padding-bottom: 20px;
        flex-grow: 1;
    }
    .footer fixed-bottom {
        width: 100%;
        padding: 10px 0;
        margin: 1px;
        box-sizing: border-box;
        position: fixed;
    }
}