/*Basic structure*/
body {
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.difficulty {
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
}

header {
    font-size: 100%;
    text-align: center;
    font-weight: bold;
    margin-bottom: 20px;
    margin-top: 20px;
    padding: 20px;
    border-radius: 10px;
    background-color: #ffffff;
    padding: 0 1rem;
    z-index: 99;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

/* Green Section */
.difficulty.green {
    background-color: #72efe9;
    color: #111111;
}

/* Yellow Section */
.difficulty.yellow {
    background-color: #ffe066;
    color: #111111;
}

/* Red Section */
.difficulty.red {
    background-color: #ff6961;
    color: #111111;
}

/* Footer */
#social-networks {
    text-align: center;
    padding: 20px 0;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
}

#social-networks i {
    font-size: 160%;
    padding: 5%;
    color: #3a3a3a;
}

.sheet-1 {
    text-align: center;
    padding: 20px;
    display: flex;
    justify-content: space-evenly;
}

.buttons {
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
    margin: 0;
    padding: 0;
}

.return, .reset {
    display: inline;
    margin: 10px;
    justify-content: space-between;
}

.reset {
    margin-left: auto; /* This pushes the reset link to the right */
}

.answer {
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    transition: background-color 0.3s ease;
    box-shadow: 0 2px 2px #3a3a3a;
    box-sizing: border-box;
    width: 100%;
}

/* Media Queries for Responsive Layout */
@media (max-width: 767px) {
    /* For smaller screens (phones) */
    .difficulty,
    .answer {
        width: 100%;
    }
}

@media (min-width: 768px) and (max-width: 1023px) {
    /* For tablets */
    .difficulty {
        width: calc(45% - 20px);
        display: inline-block;
        margin-right: 20px;
    }

    .difficulty:nth-child(2n) {
        margin-right: 0;
    }

    .answer {
        width: calc(50% - 20px);
        margin-right: 20px;
        margin-bottom: 20px;
        margin-left: 30%;
    }

    .answer:nth-child(2n) {
        margin-right: 0;
    }
}

@media (min-width: 1024px) {
    /* For larger screens (desktop and above) */
    .difficulty {
        width: calc(30% - 40px);
        display: inline-block;
        margin-right: 20px;
    }

    .difficulty:last-child {
        margin-right: 0;
    }

    .answer {
        width: calc(50% - 40px);
        margin-bottom: 40px;
        margin-left: 30%;
    }

    .answer:nth-child(odd) {
        clear: none;
    }
}

/* Add hover effect to change background color to grey */
.answer:hover {
    background-color: #8d8d8d;
}